{{ template "layout" .}}

{{ define "main"}}

<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><i class='uil uil-user'></i> Arief's Portfolio</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><span data-hover="Home">Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-lg-auto">
                <div class="ml-lg-4">
                  <div class="color-mode d-lg-flex justify-content-center align-items-center">
                    <i class="color-mode-icon"></i>
                    Color mode
                  </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- CONTACT -->
<section class="contact py-5" id="contact">
<div class="container">
    <div class="row">
    
    <div class="col-lg-5 mr-lg-5 col-12">
        <div class="google-map w-100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253885.72595839723!2d106.57126818142312!3d-6.1354765506113536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f58ab1132fd5%3A0x2623f5a6c83f3b27!2sJakarta%20Utara%2C%20Kota%20Jkt%20Utara%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2C%20Indonesia!5e0!3m2!1sid!2smm!4v1660165003835!5m2!1sid!2smm" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
            <div class="contact-info-item">
            <h3 class="mb-3 text-white">Say hello</h3>
            <p class="footer-text mb-0">+62 895 **** ****</p> 
            <p><a href="mailto:hello@company.co">hello@company.co</a></p>
            </div>

            <ul class="social-links">
                <li><a href="#" class="uil uil-dribbble" data-toggle="tooltip" data-placement="left" title="Dribbble"></a></li>
                <li><a href="#" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                <li><a href="#" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-12">
        <div class="contact-form">
        <h2 class="mb-4">Interested to work together? Let's talk</h2>

        <form action="" method="get">
            <div class="row">
            <div class="col-lg-6 col-12">
                <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
            </div>

            <div class="col-lg-6 col-12">
                <input type="email" class="form-control" name="email" placeholder="Email" id="email">
            </div>

            <div class="col-12">
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
            </div>

            <div class="ml-lg-auto col-lg-5 col-12">
                <input type="submit" class="form-control submit-btn" value="Send Button">
            </div>
            </div>
        </form>
        </div>
    </div>

    </div>
</div>
</section>
{{ end }}